<!DOCTYPE html>
<html>
  <head>
    <title>REST API</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="card">
          <h5 class="card-header">Watchlist</h5>
          <div class="card-body">
            <h5 class="card-title">List of watchlists</h5>
            <p class="card-text">Path: <kbd>/watchlists</kbd></p>
            <p class="card-text">Method: <kbd>GET</kbd></p>
            <p class="card-text">
              <pre>
[
  {
    "id": 1,
    "name": "Main Watchlist",
    "symbols": [
      "AAPL",
      "BTCUSD"
    ]
  },
  {
    "id": 2,
    "name": "Another Watchlist",
    "symbols": [
      "AAPL",
      "INTC",
      "AMZN"
    ]
  }
]
              </pre>
            </p>
            <a href="/watchlists" class="btn btn-primary" target="_blank">Try out</a>
          </div>

          <hr />

          <div class="card-body">
            <h5 class="card-title">Get watchlist by id</h5>
            <p class="card-text">Path: <kbd>/watchlists/:id</kbd></p>
            <p class="card-text">Method: <kbd>GET</kbd></p>
            <p class="card-text">
              <pre>
{
  "id": 1,
  "name": "Main Watchlist",
  "symbols": [
    "AAPL",
    "BTCUSD"
  ]
}
              </pre>
            </p>
            <a href="/watchlists/1" class="btn btn-primary" target="_blank">Try out</a>
          </div>
        </div>

        <div class="card">
          <h5 class="card-header">Stocks</h5>
          <div class="card-body">
            <h5 class="card-title">Intraday data of symbol</h5>
            <p class="card-text">Path: <kbd>/stocks/intraday/:symbolName?offset=:offset</kbd></p>
            <p class="card-text">Method: <kbd>GET</kbd></p>
            <p class="card-text">
              <pre>
{
  "data": [
    {
      "symbol": "AAPL",
      "open": 144.27,
      "high": 144.6,
      "low": 142.79,
      "close": 142.94,
      "last": 144.05,
      "volume": 378444,
      "date": "2021-09-21T16:00:00.000Z"
    }
  ],
  "page": {
    "count": 1,
    "totalCount": 1000,
    "offset": 0
  }
}
              </pre>
            </p>
            <a href="/stocks/intraday/aapl" class="btn btn-primary" target="_blank">Try out</a>
          </div>
        </div>
    </div>
  </body>
</html>